body {
  margin: 0;
  min-width: 250px;
  background-color: rgb(5, 26, 166);
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.inputs{
  display: flex;
  flex-direction:row;
  padding-left: 170px;
  padding-bottom: 20px;
}
#todo-input{
  background-color: transparent;
  padding: 20px;
  width: 50%;
  border: 1px solid rgb(5, 26, 166);
  color:white;
  outline: none;
}
#input-btn{
  background-color:rgb(5, 26, 166);
  padding: 19px;
  font-size:16px;
  cursor: pointer;
  transition: 0.2s;
  color:white;
  border: 1px solid rgb(5, 26, 166);
}
#all{
  background-color: black;
  width: 50%;
  height:100%;
  margin-top: 10px;
}
#title{
  color:white;
  font-size: 2em;
  font-weight:bold;
}
* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee; */
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em auto;
  width:70%;
  border-radius: 1em ;
  padding: 20px 20px;
  height: 60px;
  user-select: none;
}


ul li:hover {
  background: #ddd;
}

ul li.checked {
   background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  position: absolute;
  top: 10px;
  left: 16px;
  border-color: #fff;
  /* border-width: 0 2px 2px 0; */
  /* border-style: solid; */
  /* transform: rotate(45deg); */
  height: 15px;
  width: 7px;
  content: "";
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px;
}


.header {
  background: #f44336;
  text-align: center;
  padding: 30px 40px;
  color: white;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  width: 75%;
  float: left;
  padding: 10px;
  margin: 0;
  border: none;
  border-radius: 0;
  font-size: 16px;
}

.add-btn {
  padding: 10px;
  width: 25%;
  /* background: #d9d9d9; */
  text-align: center;
  float: left;
  /* color: #333; */
}